.app-header {
    padding:10px 20px;
    background-color:rgba(223, 230, 233,0.5);
    display:flex;
    justify-content:space-between;
}

.app-header .icon {
color:#3498db
}
.app-header .user-panel{
    display:flex;
    gap:20px;
    align-items:center;
}

.app-header .user-panel .user{
    display:flex;
    gap:10px;
    align-items:center;
}

.app-header .user-panel .user .avatar{
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:#a29bfe;
}

.app-header .user-panel .user .welcome {
    color:#636e72;
}

.app-header .user-panel .user .name {
    color:#2d3436;
    font-weight:500;
}