.sidebar {
    width:200px;
    background-color:white;
    padding:20px;
    border-right: solid #dfe6e9 2px;
    height:100vh;
}

.header {
    height:40px;
    display:flex;
    align-items:center;
}

.header .logo {
    width:20px;
}

.header .title {
    margin-left:10px;
    font-weight:500;
}

.nav {
    margin-top:34px;
}

.nav .category-name{
    color:#bdc3c7;
     text-transform: uppercase;
     font-weight:400;
     height:30px;
     display:flex;
     align-items:center;
}

.nav .sub-items {
    padding:10px 0px;
}

.nav .sub-items .item {
    padding:12px;
    display:flex;
    gap:8px;
    align-items:center;
    border-radius:8px;
}

.nav .sub-items .item:hover {
    background-color:#74b9ff;
    opacity:0.9
}

.nav .sub-items .item{
    text-decoration:none;
    color:#2c3e50;
}